Source: pglogplexcollector
Section: devel
Priority: extra
Maintainer: Heroku Department of Data <dod@heroku.com>
Uploaders: Greg Burek <gregburek@heroku.com>
Build-Depends: debhelper (>= 9),
               dh-golang,
               golang-go,
               golang-github-deafbybeheading-femebe-dev,
               golang-github-go-fsnotify-fsnotify-dev,
               golang-github-logplex-logplexc-dev
Standards-Version: 3.9.6
Homepage: https://github.com/heroku/pg_logplexcollector
XS-Go-Import-Path: github.com/heroku/pg_logplexcollector

Package: pglogplexcollector
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Collect logs from Postgres servers and send to Logplex
